#side_menu {
    --trance: 300ms ease all;
    --gradient1: #43C6AC;
    --gradient2: #F8FFAE;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100vw;
    height: 100vh;
    background: black;
    position: fixed;
    top: 0;
    left:0;
    transform: translate3d(100vw, 0, 0);
    transition: var(--trance);
    padding: 2rem 1rem;
    // background: red;
    #close_side_menu_button {
        background: transparent;
        width: 50px;
        height: 50px;
        align-self: flex-start;
        justify-self: flex-start;
        ion-button {
            ion-icon {
                transform: scale(2);
            }
        }
    }

    h6 {
        align-self: center;
    }

    #options_menu {
        width: calc(100% - 1rem);
        align-self: center;
        justify-self: flex-start;
        p.option_toggler {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid rgba(255,255,255,.11);
            margin-bottom: 1rem;
            ion-toggle {
                transition: 300ms ease all;
                --background: rgba(255,255,255,.1);
                --background-checked: -webkit-linear-gradient(0, var(--gradient1), var(--gradient2));
              
                --handle-background: -webkit-linear-gradient(0, var(--gradient1), var(--gradient2));
                --handle-background-checked: rgba(0,0,0,1);
              }
        }
    }
}

.show-side-menu {
    transform: translate3d(0, 0, 0) !important;
    z-index: 1000000;
}
